<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>5. Event Handling - learn</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="./assets/main.css">
    </head>
    <body>
        <div class="nav-bar"></div>
        <div id="app">
        
            <div class="product">

                <div class="product-image">
                <img :src="image" />
                </div>

                <div class="product-info">
                    <h1>{{ product }}</h1>
                    <p v-if="inStock">In Stock</p>
                    <p v-else>Out of Stock</p>

                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>

                    <div v-for="variant in variants" :key="variant.variantId">
                        <p @mouseover="updateProduct(variant.variantImage)">{{ variant.variantColor }}</p>
                    </div>

                    <!-- <button v-on:click="cart+=1">Add to cart</button> -->
                    <button @click="addToCart()">Add to cart</button>

                    <button @click="removeFromCart()">Remove from cart</button>


                    <div class="cart">
                        <p>Cart({{ cart }})</p>
                    </div>

                </div>
                
            </div>
        </div> 

        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
        <script src="./assets/main.js"></script>
        
    </body>
</html>